<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nodejs basic</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    <div class="list-user">
      <h2>List User:</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Action</th>
        </tr>
        <% for (var i = 0; i < dataUsers.length; i++) { %>
        <tr>
          <td><%= dataUsers[i].Id %></td>
          <td><%= dataUsers[i].firstName %></td>
          <td><%= dataUsers[i].lastName %></td>
          <td>
            <a href="/detail/user/<%= dataUsers[i].Id %>" target="_blank"
              >Detail</a
            >
            <form action="/update-user/<%= dataUsers[i].Id %>" method="GET">
              <button type="submit">Edit</button>
            </form>
            <form action="/delete-user" method="POST">
              <input
                type="text"
                value="<%= dataUsers[i].Id %>"
                name="userId"
                hidden
              />
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
    <div class="create-user">
      <b>Create new user: </b>
      <form action="/create-new-user" method="POST">
        <div>
          <label>FirstName</label>
          <input type="text" name="firstName" />
        </div>
        <div>
          <label>LastName</label>
          <input type="text" name="lastName" />
        </div>
        <div>
          <label>Email</label>
          <input type="email" name="email" />
        </div>
        <div>
          <label>Address</label>
          <input type="text" name="address" />
        </div>
        <button class="btn-submit" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
